---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: '/images/D&B.JPG',
      alt: 'Hotbeam Owners: Daniel and Beau',
    }}
  >
    <Fragment slot="title">
      <span class="text-4xl md:text-6xl">
        Elevate your events with our <br />
        <span class="text-accent dark:text-white highlight"> Spectacular Laser and Light Shows</span>
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      We are Beau and Daniel, respectively, and we’re the duo behind Hotbeam Productions. We’re all about bringing some
      serious wow factor to your events with our awesome laser and light shows. Whether it’s a concert, a corporate
      shindig, a festival, or just a great party, we’ve got you covered.
      <br />
      <br />
      We use the latest tech and some seriously cool designs to turn any space into a stunning display of lights and colors.
      We’re all about making sure your event is as amazing as you imagined, with a personal touch and a whole lot of attention
      to detail.
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our Mission"
    subtitle="At Hotbeam, our mission is to enhance every performance with cutting-edge laser, lighting, and special effects, delivering unforgettable experiences for audiences worldwide. We are committed to syncing every light, laser, and effect to the beat of the performance, creating an immersive environment that amplifies the artist's vision and connects with the crowd on an emotional level."
    items={[
      {
        title: 'Customer-Centric Approach',
        description:
          'We believe in a personalized approach, tailoring our services to meet the unique needs of each artist and event. Whether it’s a small venue or a massive concert, we collaborate closely to ensure our effects align seamlessly with the performance and wow the audience.',
      },
      {
        title: 'Constant Improvement',
        description:
          'The entertainment industry is always evolving, and so are we. We stay ahead of trends and technological advancements to provide state-of-the-art equipment and creative solutions, ensuring that every show we support is as dynamic and groundbreaking as possible.',
      },
      {
        title: 'Ethical Practices',
        description:
          'We take pride in operating with integrity. From fair pricing to environmentally conscious practices, we ensure that our contributions to live events not only enhance the experience but also respect the artists, the audience, and the planet.',
      },
    ]}
  />
  <!-- Features2 Widget ************** -->

  <Features2
    title="Contact us"
    columns={2}
    items={[
      {
        title: 'Email: hotbeamproduction@gmail.com',
        description:
          'We’re here to help with questions about your bookings, managing your account, troubleshooting payment concerns, or navigating our concert and production services.',
        icon: 'tabler:mail',
      },
      {
        title: 'Call: +1 (720) 955-8929',
        description:
          'Chat with us about creating unforgettable laser experiences, exploring customization options, or learning more about our licensing for professional productions.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
