---
import Layout from '~/layouts/PageLayout.astro';

import HeroOverlay from '~/components/custom/HeroOverlay.astro';
import Features from '~/components/widgets/Features.astro';
// import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';

// import hotbeamHeroVid from '~/assets/videos/HB_INTRO.mp4';

const metadata = {
  title: 'Hot Beam Productions - Colorado Laser Light Show and Production Company',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- HeroOverlay Widget ************ -->
  <HeroOverlay
    title="Next level production suited to your needs"
    subtitle="Hot Beam Productions is a Colorado-based full service production company that specializes in creating unforgettable experiences for events of all sizes."
    actions={[
      {
        variant: 'primary',
        text: 'Free Consultation',
        href: '/contact',
        icon: 'tabler:arrow-right',
      },
      { text: 'Upcoming Events', href: 'https://linktr.ee/hotbeamproductions' },
    ]}
    image={{
      src: '/images/hotbeam_hero_lasers.jpg',
      alt: 'DJ and Lasers',
    }}
  />

  <!-- Features Widget *************** -->
  <Features
    id="features"
    title="What you get with Hot Beam Productions"
    subtitle="We provide one of the most professional and affordable production services in Colorado."
    items={[
      {
        title: 'Spectacular Light Shows',
        description:
          'Transform your event with state-of-the-art light shows, featuring dynamic visuals and effects that sync perfectly with the music.',
        icon: 'tabler:prism-light',
      },
      {
        title: 'Event Customization',
        description:
          'Personalize your event with our flexible service options, ensuring each aspect of the entertainment is just how you envision.',
        icon: 'tabler:settings',
      },
      {
        title: 'High-Energy Performance',
        description:
          'Our lightshow experiences are designed to energize the crowd, keeping the dance floor packed all night long.',
        icon: 'tabler:activity',
      },
      {
        title: 'Professional Audio Equipment',
        description:
          'Utilize top-of-the-line audio equipment to deliver clear, crisp sound that elevates the music and entertainment experience.',
        icon: 'tabler:device-speaker', // Changed icon to indicate professional audio equipment.
      },
      // {
      //   title: 'Innovative Event Solutions',
      //   description:
      //     'We stay at the forefront of event technology and trends to provide innovative solutions that make your events stand out.',
      //   icon: 'tabler:bulb', // Retained icon for innovation and new ideas.
      // },
    ]}
  />

  <!-- Content Widget 1 -->
  <Content
    isReversed
    tagline="How we do it"
    title="Our Process For Creating Your Dream Show"
    items={[
      {
        title: 'Engaging Visual Performances',
        description:
          'Our lightshows are meticulously programmed to synchronize with the music, creating mesmerizing visual effects.',
      },
      {
        title: 'Dynamic Audio and Visual Setup',
        description:
          'We combine top-notch DJ services with spectacular laser lightshows to create an unforgettable atmosphere.',
      },
      {
        title: 'Customizable Experiences',
        description:
          'We tailor every performance to the unique needs and preferences of our clients, ensuring a personalized event experience.',
      },
    ]}
    image={{
      src: '/images/hotbeam_content_img.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Crafting Unique Experiences</h3>
      We bring your vision to life with precise execution and creative flair, ensuring each event is a standout spectacle.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->
  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Brands Widget ****************** -->
  <Brands
    title="Trusted By Leading Brands"
    subtitle="We have had the privilege of working with some of the most renowned brands in the industry."
    icons={[]}
    images={[
      {
        src: 'https://lasershowprojector.com/cdn/shop/files/pangolin-and-kvant-lasers-official-logo.webp',
        alt: 'Pangolin and Kvant',
        href: 'https://pangolin.com/',
      },
      {
        src: 'https://laserosity.net/cdn/shop/files/Logo_461x412_-_MEMBER.png',
        alt: 'Ilda',
        href: 'https://www.ilda.com/',
      },
      {
        src: 'https://laserosity.net/cdn/shop/files/Logo_Smoke_Factory_Block_Blue_CMYK-01.jpg',
        alt: 'Smoke Factory',
        href: 'https://www.smoke-factory.de/',
      },
      {
        src: 'https://laserosity.net/cdn/shop/files/EC_Bug-Full_Color-Light_BG.png',
        alt: 'Elite Core',
        href: 'https://www.elitecoreaudio.com/',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Free Consultation',
        href: '/contact',
        icon: 'tabler:arrow-right',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Full Service Poduction</span>
    </Fragment>

    <Fragment slot="subtitle">
      Get your free consultation today! Find out what we can do for your next big event. <br class="hidden md:inline" />
    </Fragment>
  </CallToAction>
</Layout>
